#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

// #components-layout-demo-custom-trigger .logo {
//   height: 32px;
//   background: rgba(255, 255, 255, 0.2);
//   margin: 16px;
// }
.ant-layout-sider-children {
  height: 100vh;
}
.anticon-menu-fold {
  margin-left: 16px;
}
.userInfo {
  float: right;
  margin-right: 16px;
}
.contentStyle {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  minHeight: 280px;
}
.logo {
  color: #fff;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 48px;
  }
}