/*
 * @Author: Tiny 
 * @Date: 2019-07-24 17:26:05 
 * @Last Modified by: tiny.jiao@aliyun.com
 * @Last Modified time: 2019-07-24 21:06:49
 */

.counter {
  button {
    height: 80px;
    width: 100px;
    background: #999;
    margin-right: 10px;
    cursor: pointer;
  }
}