/*
 * @Author: Tiny 
 * @Date: 2019-07-24 17:26:05 
 * @Last Modified by: tiny.jiao@aliyun.com
 * @Last Modified time: 2019-08-29 23:28:11
 */

.counter {
  button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #999;
    text-align: center;
  }
  span {
    height: 40px;
    width: 50px;
    font-size: 24px;
    margin: 0 10px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
  }
}